@charset "UTF-8";
/* CSS Document */
*{
    margin:0px;
    padding:0px;
}

html{
   margin: 0px;
   /* setting border: 0 hoses ie6 win window inner well border */
   padding: 0px;
}


body,td,th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #333333;
}
body {
    background-color: #FFFFFF;
    margin:0px;
}

form, input {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: underline;
}
a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote {
    margin:0px 0px 10px 0px;
    font-size: 0.9em;
}

fieldset {
    margin-bottom: 10px;
    padding: 0px;
    border: none;
}


ol, ul{
   list-style: none;
   list-style-position:inside;
}

/* standard helper classes */
.clr {
    clear: both;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: 0px -1px -1px 0px;
    border: none;
    padding: 0px;
    font-size: 1px;
    line-height: 0px;
}


/* page layout */
body {
    background-color: #fff;
}


#header {
    padding: 0px;
    margin: 0px 0px 5px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#header h1.title{
    background-color: rgba(22,22,22,0.9);
    padding:7px 5px 0px;
    margin: 0px 0px;
    color: #eee;
    height: 20px;
    font-size: 1em;
    font-weight: bold;
    line-height:1;
}

#header .title a{
    color: #eee;
    text-decoration:none;
}

#header .welcome {
    position:absolute;
    top: 3px;
    right: 5px;
    padding: 3px 0 1px;
    color: #333;
}
#header .welcome ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header .welcome ul li {
    padding: 0;
    margin: 0 0 0 2px;
    display: inline;
    list-style: none;
    font-size: 1em;
}
#header .welcome ul li a {
    color: #999;
    text-decoration:none;
}

#header .welcome label {
    color: #333;
}


#headmenu {
    background-color: rgba(225,225,225,0.95);
    padding: 3px 6px;
    margin: 0px 0px 0px;
    font-size: 0.9em;
}

#headmenu ul {
    margin: 0px;
    padding: 2px;
    list-style: none;
}

#headmenu ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
}


#ptitle {
    background-color: rgba(255,255,255,0.95);
/*    border-bottom: #ccc 1px solid; */
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px 0px 0px;
    padding: 5px 8px 7px;
}

h2#ptitle a {
    text-decoration: none;
    color: #333;
}

h2#ptitle span.details {
    color: #666;
}

h2#ptitle #clipboard_open {
    font-size: 0.8em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

#clipboard_text {
    width: 100%;
    height: 50px;
    padding: 3px;
    border: none;
    font-size: 11pt;
    background-color: rgba(255,255,255,0);
    resize:none;
}


/*
#content a { color: #5555cc;}
#content a:link { color: #5555cc;}
#content a:visited { color: #5555ee;}
#content a:active { color: #999999;  }
#content a:hover { color: #999999;  }
*/

#display-control-wrap {
    -moz-box-shadow: 0px 3px 5px #aaa;
    -webkit-box-shadow: 0px 3px 5px #aaa;
    background-color: rgba(255,255,255,0.95);
    padding: 0px 10px 6px;
    margin: 0px 0px 13px;
}

#display-control {
    text-align: right;
    padding: 2px;
    font-size: 0.7em;
    border: 1px solid #ccc;
    background-color: rgba(238,238,238,0.95);
    -webkit-border-radius: 3px;   /* Safari、Google Chrome */
    -moz-border-radius: 3px;  /* Firefox */
}

#display-control-main {
    float: left;
    text-align: left;
}

#display-control-sub {
}

#display-control form {
}

#display-control form #from_date,
#display-control form #to_date {
    padding: 3px 3px;
    border: 1px #ccc solid;
    color: #888;
    font-size: 1em;
    width: 13em;
    background-color: #f6f6f6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: inset 0px 0px 3px #666;
    -webkit-box-shadow: inset 0px 0px 3px #666;
    text-align: center;
}

#display-control form #pickdate_submit {
}

#display-control form > label,
#display-control form > span {
    font-size: 1em;
    color: #999;
}

#content {
    padding: 0px 10px 10px;
}


#content #serverlist-ul {
    padding: 1px;
}

#content #serverlist-ul li.group-name {
    background-color: #ccc;
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 1px;
    margin-top: 10px;
}

#content #serverlist-ul li:first-child {
    margin-top: 0px;
}

#content #serverlist-ul ul.group-ul {
    margin: 0px 0px 0px 0px;
}

#content #serverlist-ul ul.group-ul li {
}

#content #serverlist-ul ul.group-ul li.sub-group-name {
    font-size: 1.1em;
    border-bottom: 1px #ccc solid;
    background-color: #eee;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 8px;
}

#content #serverlist-ul li.group-name-off,
#content #serverlist-ul ul.group-ul li.group-name-off {
  color: #666;
  background-image: -webkit-gradient( linear, left top, left bottom,
       from(rgba(153,153,153,0.6)), color-stop(0.3, rgba(204,204,204,0.2)), to(rgba(204,204,204,0.2)) );
  background-image: -moz-linear-gradient(top, rgba(153,153,153,0.6), rgba(204,204,204,0.2) 30%, rgba(204,204,204,0.2));
/*  -moz-box-shadow: inset 0px 0px 3px #333;
  -webkit-box-shadow: inset 0px 0px 3px #333;
  border-color: #666;
  margin-bottom: 2px; */
}


#content #serverlist-ul ul.group-ul ul.host-ul {
    margin: 0px;
    padding: 0px;
}

#content #serverlist-ul ul.group-ul ul.host-ul li {
    font-size: 1.2em;
    border-bottom: 1px #ccc solid;
    padding: 4px 12px ;
}

#content #serverlist-ul ul.group-ul ul.host-ul label {
    font-size: 5px;
    padding: 0px;
    margin: 0px;
    width: 10px;
    height: 10px;
}

#content #serverlist-ul ul.group-ul ul.host-ul li a {
    text-decoration: none;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.details {
    color: #666;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.host-status {
    color: #fff;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.host-status-ok {
    color: #eee;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.host-status-warn {
    color: #f93;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.host-status-crit {
    color: #f33;
}

#content #serverlist-ul ul.group-ul ul.host-ul li span.host-status-wait {
    color: #ccc;
}

.host-li-checked {
    background-color: #ffc;
}

#content h3.host-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px;
    margin: 0px 0px 3px 0px;
}

#content p.host-detail {
    text-align: center;
}

#content ul#resource-list {
}

#content ul#resource-list li {
    padding: 0px 5px;
    display: inline;
    list-style: none;
    font-size: 1em;
    border-left: 1px #999 solid;
}

#content ul#resource-list li:first-child {
    border-left: none;
}

#content ul#resource-list li a {
    text-decoration: none;
}

#content h4.resource-title {
    background-color: #ccc;
    border-top: 1px #999 solid;
    font-size: 1.2em;
    font-weight: bold;
    padding: 3px;
    margin: 0px 0px 3px 0px;
}

#content div.resource-sysinfo {
    margin: 6px 0px 7px 0px;
    font-size: 0.8em;
}

#content div.resource-sysinfo:after {
    content:".";
    display:block;
    height: 0;
    vivsivility: hidden;
    clear : left;
}

#content div.resource-sysinfo div {
    padding-right: 5px;
    white-space:nowrap;
    float:left;
    margin: 5px 0px;
}

#content div.resource-sysinfo div span {
    padding: 3px;
    color: #666;
    background-color: #eee;
    border: 1px #999 solid;
    font-weight: bold;
    -webkit-border-radius: 3px;   /* Safari、Google Chrome */
    -moz-border-radius: 3px;  /* Firefox */
}


#content .resource-graph {
    margin-bottom: 20px;
}

#content .resource-graph .ngraph {
    white-space:nowrap;
    margin-bottom: 3px;
}


.ui-icon-null {
    background-position: -240px -224px;
}
div.AnyTime-win {
    z-index: 999;
}

